---
import { getEntryBySlug } from "astro:content";
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";

const contact = await getEntryBySlug("pagedata", "contact");
const { Content } = await contact.render();
---

<Layout title="Contact">
    <Main>
        <H1 text="Contact" />
        <div class="prose prose-2xl overflow-visible relative mb-20">
            <Content />
        </div>
    </Main>
</Layout>
