---
import H1 from "../components/H1.astro";
import Main from "../components/Main.astro";
import Layout from "../layouts/Layout.astro";
import { getEntryBySlug } from "astro:content";

const about = await getEntryBySlug("pages", "about");
if (!about) throw new Error("About page not found");
const { Content } = await about.render();
---

<Layout title="About">
    <Main>
        <H1 text="About" />
        <div class="prose prose-2xl overflow-visible relative mb-20">
            <Content />
        </div>
    </Main>
</Layout>
